* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #090909;
  --securyColor: #A8181E;
}


header{
    background-color: var(--primaryColor);
    text-align: end;
    padding: 1rem;
    color: var(--securyColor);
}